:root {
  --primary-color: #4A4A4A; /* Gris foncé pour les éléments principaux */
  --secondary-color: #F9F9F9; /* Blanc cassé pour les arrière-plans */
  --accent-color: #FF6F61; /* Accent color (un orange doux) */
  --accent-color-light: #FFA07A; /* Accent color light */
  --text-color: #333333; /* Gris pour le texte */
  --highlight-color: #FFD700; /* Jaune doré pour les surlignages */
  
  
  
  --font-family-title: 'Bebas Neue', sans-serif;
  --font-family-text: 'Roboto', sans-serif;
}
/* Reset des débordements horizontaux */
html, body {
  max-width: 100%;
  overflow-x: hidden; /* Seulement pour l'axe X */
}

/* Permet le scroll vertical normal */
body {
  overflow-y: auto;
}