:root {
  /* Vos variables existantes */
  --primary-color: #4A4A4A;
  --secondary-color: #F9F9F9;
  --accent-color: #FF6F61;
  --accent-color-light: #FFA07A;
  --text-color: #333333;
  --highlight-color: #FFD700;
  
  /* Ajoutez ces nouvelles variables pour le panier */
  --cart-border-color: #e0e0e0;
  --cart-text-light: #666666;
  --cart-remove-color: #999999;
  --cart-remove-hover: #ff6b6b;
  --cart-btn-hover: #e05a4e;
  
  --font-family-title: 'Bebas Neue', sans-serif;
  --font-family-text: 'Roboto', sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden; 
}

body {
  overflow-y: auto;
}